.mx-1
  .card.rounded
    .card-body
      %h5.card-title いろいろな情報が登録できない！
      %p.card-text 今エラー出ないのですがそこそこ制約があります。
      %ul
        ユーザ
        %li ユーザ名は必須です。20文字以内です。英数字とアンダースコア(_)のみ使用できます。
        %li パスワードは必須です。8文字以上128文字以下で、英字大文字小文字と数字、記号をそれぞれ1つずつ含む必要があります。
      %ul
        ランキング
        %li 詳細以外の全項目が必須です。
        %li タイトルは80文字以内、詳細は400文字以内です。
      %ul
        曲
        %li どっちも必須です。
        %li 機種名はなんとなく30文字以内にしてあります。
      %ul
        提出
        %li 表示名は必須です。何も設定していない場合はIDが入ります。20文字以内です。
        %li スコアは必須です。0以上の整数なので小数点以下が出る場合は適当に小数点をずらしてください。
        %li 画像は必須です。PNG、JPEG、GIF形式の画像をアップロードできます。最大サイズは2MBです。(縮小してから保存するようにしてるので2MB越えでも大丈夫かもしれません。)
        %li コメントは140文字以内です。任意です。
