%div
  .card.rounded
    .card-body
      %h5.card-title v0.1.0
      %p.card-text
        仮でいろいろやりました。画像がアップロードできるようになりました。今のところ正常系はちゃんと動くのですが、そうでないときどうなるかは知りません。
        パスワードはマネージャによる自動生成のものを強く推奨します。
        CSV出力ができません。フラッシュメッセージもいい感じじゃありません。REST APIもありません。ツイート画面にも遷移できません。スコア秘匿したままのランキング集計もできません。悪さもできます。
