%body
  %header.p-1.bg-dark.text-white
    .container
      .d-flex.flex-wrap
        %ul.nav.col-3.col-lg-auto.me-lg-auto.mb-md-0
          %a.d-flex.me-md-auto.text-decoration-none.text-white{ href: '/' }
            %span.fs-4 OR4CLE2
        %ul.nav.col-9.justify-content-end
          %li
            %a.nav-link.text-white{ href: '/rankings/' } IRs
          %li
            %a.nav-link.text-white{ href: '/faqs/' } FAQs
          %li
            %a.nav-link.text-white{ href: '/release_notes/' } Release Note
          - if user_signed_in?
            %li
              = link_to "#{current_user.name}", edit_user_registration_path, class: 'nav-link text-white' 
            %li
              = link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link text-white'
          - else
            %li
              = link_to 'Sign in', new_user_session_path, class: 'nav-link text-white'
